name: yash

on:
  push:
    branches:
      - main

env:
  tag_value: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, Tag, and Push Docker Image
        run: |
          docker build -t app:${{ env.tag_value }} .
          docker tag app:${{ env.tag_value }} 989007362438.dkr.ecr.ap-south-1.amazonaws.com/app:${{ env.tag_value }}
          docker push 989007362438.dkr.ecr.ap-south-1.amazonaws.com/app:${{ env.tag_value }}

  deployjob:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 989007362438.dkr.ecr.ap-south-1.amazonaws.com
            docker pull 989007362438.dkr.ecr.ap-south-1.amazonaws.com/app:${{ env.tag_value }}
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 80:80 989007362438.dkr.ecr.ap-south-1.amazonaws.com/app:${{ env.tag_value }}
